header{
    text-align: center;
}

.books{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.book_info{
    display: flex;
    flex-direction: column;
}