header{
    text-align: center;
}

h2{
    text-align: center;
}

.content_section{
    display: flex;
    flex-direction: column;
}

.selection_section{
    display: flex;
    justify-content: center;
}

.stateInfo_section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left_div{
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 10px;
}

.map_div{
    display: flex;
    flex-direction: column;
}

.center_div{
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: space-around;
    padding: 10px;
}

.places_div{
    display: flex;
    flex-direction: column;
}

.right_div{
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: space-around;
    padding: 10px;
}

.dishes_div{
display: flex;
    flex-direction: column;
}

button{
   margin: 5px; 
}

footer{
    text-align: center;
}